body {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  background-color: black;
  color: white;
}

header {
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  background-color: #3DD1E7;
  border: 10px solid white;
  border-radius: 30px;
}

.logo {
 max-width: 60%;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  border: solid 1pt #3DD1E7;
  padding: 5px;
  border-radius: 5%;
}

a:hover {
  color: black;
}

h2 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#form-container {
  max-width: 80%;
  align-self: center;
  display: flex;
  align-content: center;
}

legend {
  font-family: 'Dokdo', cursive;
  font-size: 20pt;
  color: #3DD1E7;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
}

input {
  margin: 20px;
}

button {
  max-width: 70%;
  align-self: center;
}

#list-container {
  align-self: center;
  align-content: center;
}

/* https://getcssscan.com/css-buttons-examples */

button {
  margin: 10px;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
    /* user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; */
}

button:focus {
  outline: 0;
}

button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

#reset {
  display: none;
}
