* {
    color: maroon;
    margin: 5px;
    /* border: 5px red solid; */
}
a{
    margin: 20px;
}
body {
    background-color: #f4f1de;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.75;
}
header {
    /* background-color: #f4f1de; */
    background-color: white;
    width: 90%;
    height: 90%;
    float: auto;
    border: thick double maroon;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif; /* custom sans-serif Google font*/
    color: #e07a5f;
    font-size: 100px;
    text-align: center;
}
h2 {
    font-size: 20px
}
img{
    flex-direction: column;
    block-size: 100px;
}
li{
    display: block;
    width: 100%;
    margin: 10px;
}

main{
    display: flex;
    background-color: white;
    width: 90%;
    height: 90%;
    float: auto;
    margin: 0 auto;
    border: thick double maroon;
    /* overflow: auto; */
}

p {
    margin: 20px 20px;
}
ul{
    margin: 50px;
}
.emphasized {
    font-weight: bold;
    font-size: 20px;
}
/* #about-us{
    /* display: flex; */
    /* position: relative; */
    /* width: 852px;
    height: 480px; */
    /* block-size: 250px; */

/* } */
#about-us p{
    height: auto;
    width: 600px;
    text-align: center;

}
#cookies{
    margin: 20px;
    block-size: 200px;
} 
#family{
    margin: 25px;
    block-size: 250px;
}
#locations-list{
    position: relative;
    margin: 20px;
    width: 20%;
    padding: 10px;
    border: solid maroon 2px;
}
#logo {
    block-size: 100px;
}
#misc{
    position: relative;
    margin: 20px;
    width: 20%;
    padding: 10px;
    border: solid maroon 2px;
}
/*

stretch goals for later
1. custom sans-serif Google Font for use in the heading tags
2. sans-serif web font for sales data such as Arial, Verdana, or Helvetica
3. serif web font for text such as Georgia, Times
4. specified different font colors for all three fonts uses
5. a background color for the default page that has good contrast and are readable
6. different background color for the elements such as boxes and tables
7. style: simplicity, clarity, consistency
8. thoughtful layout and overall organization
9. lighthouse accessibility report between 65-80 into readme.md 
10. normal home page info; locations, hours, contact information, some text about how awesome
the business is . think about audience











*/